.form-input{
    margin: 10px 0;
}

.input{
    width: 500px;
    height: 40px;
    font-size: 22px;
}

@media screen and (max-width: 769px) {
    .input{
       width: 400px;
    }
 }
 
 @media screen and (max-width: 500px) {
    .input{
       width: 350px;
    }
 }