*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    color: black;
    background-color: #005F99;
    font-family: 'Arial', sans-serif
}

.App{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  